---
//Importamos LayOut
import Layout from '@/layouts/Layout.astro';

//Importamos secciones
import Header from '@/sections/Header.astro';
import CustomCalendar from '@/sections/CustomCalendar.astro';
import CalendarSection from '@/sections/CalendarSection.astro';
import FormSection from '@/sections/FormSection.astro';
import Footer from '@/sections/Footer.astro';

---

<Layout title="Calendarios personalizados 2024">
	<body>
		<Header />
		<main>
			<CustomCalendar />
			<CalendarSection />
			<FormSection />
		</main>
		<Footer />
	</body>	
</Layout>
