<section class="grid-1 md:grid-2">
    <article>
        <h2>Calendarios de mesa</h2>
    </article>
    <article>
        <img src="" alt="calendarios de mesa para el 2024" />
    </article>
        
    </section>