<section class="mt-32 px-4 mx-auto flex-col justify-center items center text-center">
    <div>
        <h1 class="text-4xl font-semibold">Calendarios personalizados para 2024</h1>
        <h2 class="text-xl pb-2 font-semibold">Personaliza tus calendarios para el próximo año con tu nombre y marca de empresa </h2>
        <a 
            class={`
                border-primary border-2 font-medium
                px-4 py-1 mt-10
                hover:bg-secondary hover:scale-125
            `}
            href=""
            target="_blank"
            rel="noopener noreferrer">
            Comprar</a></div>
        </section>