<footer class="w-full flex flex-col items-center px-4 md:flex-row md:items-center md:justify-between pt-6 pb-20">
    <span class="text-primary text-center">
        © Repro Disseny <span aria-hidden class="hidden md:inline">|</span><br aria-hidden class="block md:hidden"> Todos los derechos reservados
    </span>

    <ul class="flex flex-row pt-6">
        <li>
            <a href="https://www.instagram.com/reprodissenybcn/?hl=es" target="_blank" rel="noopener" class="">
                <img src="./instagram.svg" alt="logo de Instagram" class="w-8 hover:scale-125 opacity-70 transition inline-block"/>
            </a>
        </li>
        <li>
            <a href="https://es.linkedin.com/company/repro-disseny-s.l" target="_blank" rel="noopener" class="">
                <img src="./linkedIn.svg" alt="logo de LinkedIn" class="w-8 hover:scale-125 opacity-70 transition inline-block" />
            </a>
        </li>
    </ul>
</footer>